<div class="section"> 
 <div class="content">
 <h1>Hello World!</h1>
 <hr/>
 <div class="box has-shadow">
      <div class="content">
        <figure>
          <img src="images/family.jpg" width="600"/>
          <figcaption>From Left to Right: Mom, me, my brother, dad</figcaption>
        </figure>
        <p>
          My name's William (BJ) Blair III, and I'm a Computer Science major at SUNY 
          Polytechnic Institute. As of May 2018 I've graduated with a Bachelor's 
          degree and I'll be continuing at SUNY Poly for my Master's in the fall.
        </p>
        <p>
          I enjoy playing music (guitar/drums), computer programming, skiing/skating/
          snowboarding, semi-casually consuming anime and video games, and random
          tech stuff.
        </p>
        <p>
          In high school I picked up an interest in programming and started to learn
          C and C++, thanks to the awesome youtube channel 
          <a href="https://www.youtube.com/user/thenewboston">thenewboston</a>.
          Shoutout to my man Bucky Roberts here, who probably mostly influenced my 
          decision to be a CS major:
        </p>
        <img src="images/bucky.jpg" width="500"/>
      </div>
 </div>
</div>
</div>