 <nav class="navbar has-shadow" id="bjNav">
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html">
      <b>BJ Blair</b>
    </a>
    <div class="navbar-burger burger is-hidden-desktop" data-target="navMenu" ng-click="navClick()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">
      
      <a class="navbar-item" ng-click="changeActiveLink('home')" href="#/!">Home</a>
      <a class="navbar-item" ng-click="changeActiveLink('about')" href="#!about">About</a>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Programming</a>
        
        <div class="navbar-dropdown">
          <a class="navbar-item" ng-click="changeActiveLink('eyeTracker')" href="#!eyeTracker">Eye Tracker</a>
          <a class="navbar-item" ng-click="changeActiveLink('windowManager')" href="#!windowManager">X11 Window Manager</a>
          <a class="navbar-item" ng-click="changeActiveLink('canvasPhysics')" href="#!canvasPhysics">HTML5 Canvas</a>
        </div>
        
      </div>
      
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
              <a class="button" href="https://github.com/williamblair">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
              </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>