<div class="section">
    <div class="content">
        
        <h1>Mouse Movement using Eyetracking</h1>
        <h3>CS 490 Project by myself and Michael Orzel</h3>
        
        <hr/>
    
        <div class="card">
            <div class="card-content">
              
                <img src="images/bj-eyetracking.gif" width="100%"/>

                <p>
                    For Portable Natural User Interface Development
                    (PNUI) we implemented a python version of the
                    OpenCV code <a href="https://picoledelimao.github.io/blog/2017/01/28/eyeball-tracking-for-mouse-control-in-opencv/">here</a>
                    to control your computer mouse using your eye.
                </p>
                
                <h3>How it Works</h3>

                <p>
                    OpenCV has built in <a href="https://docs.opencv.org/3.3.0/d7/d8b/tutorial_py_face_detection.html">haarcascades</a>
                    for face and eye detection, however none for
                    pupil detection, which we use to control the
                    mouse (using the windows api library for python).
                </p>

                <p>
                    Following the algorithm used by TangoWithCode,
                    we instead use OpenCV's circle detection within
                    the already detected eye area, and select the
                    circle with the darkest overall color
                    as the pupil, since your pupil is entirely black.
                </p>

                <p>
                    Once you have the location of the pupil,
                    you can calculate how far from the center of
                    the eye it is and move the mouse accordingly,
                    treating the pupil like a joystick.
                </p>

                <h3>Source</h3>
                <p>
                    <a href="https://bitbucket.org/orzelm/eyetracking/src/b867c7cab002e21b1039b4e695ab72ec28f46eb0/FinalCode/inertiaMouse2.0.py?at=Master&fileviewer=file-view-default">here</a>
                </p>
              
            </div>
        </div>
        
    </div>
</div>