<div class="columns">
    <div class="column">
        <div hljs hljs-no-escape>
typedef struct
{
    char *name = "William (BJ) Blair III";
    char *occupation = "Student";
    char *school = "SUNY Polytechnic Institute";
} MyInfo;
        </div>
    </div>
</div>
    
<div class="columns">
    <div class="column">
        <div class="content">
            <!--<image-figure mydata="{{$scope.figures[Math.floor(Math.random()*$scope.figures.length)]}}"></image-figure>-->
            <figure>
                <figcaption>{{ figures[figureIndex].caption }}</figcaption>
                <img ng-src="{{ figures[figureIndex].source }}" />
            </figure>
        </div>
    </div>
</div>
