<!DOCTYPE html>
<html lang="en-US">
<head>
    
    <!-- meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <!-- angular js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    <!-- angular routing -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- hilight js, modified css version -->
    <link rel="stylesheet" href="monokai-sublime-bj.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    
    <!-- angular hilight.js -->
    <script src="https://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>
    
    <!-- Bulma CSS -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />-->
    <!--<link rel="stylesheet" href="./bulma-0.7.1/css/bulma.min.css" />-->
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cyborg/bulmaswatch.min.css">
    
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    
    <!-- angular scripts -->
    <script src="main.js"></script>
    <script src="navbar.js"></script>
    <script src="imageFigure.js"></script>
    
    <!-- site css -->
    <link rel="stylesheet" href="site.css" />
    
</head>
<body ng-app="myApp" ng-controller="appController">

<!-- defined in navbar.js -->
<bulma-navbar></bulma-navbar>

<div class="container">
    <section class="columns is-fullheight">

        <div class="column is-2 is-hidden-mobile">
            <aside class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><a id="home" ng-click="changeActiveLink('home')" class="is-active" href="#/!">Home</a></li>
                <li><a id="about" ng-click="changeActiveLink('about')" href="#!about">About</a></li>
              </ul>
              <p class="menu-label">
                Programming
              </p>
              <ul class="menu-list">
                <li><a id="eyeTracker" ng-click="changeActiveLink('eyeTracker')" href="#!eyeTracker">Eye Tracker</a></li>
                <li><a id="windowManager" ng-click="changeActiveLink('windowManager')" href="#!windowManager">X11 Window Manager</a></li>
                <li><a id="canvasPhysics" ng-click="changeActiveLink('canvasPhysics')" href="#!canvasPhysics">HTML5 Canvas</a></li>
              </ul>
            </aside>
        </div>

        <div class="column is-10">
          <div ng-view></div>
        </div>
    
    </section>
</div>

</body>
</html>
